@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete";
}

<h2>@ViewData["Title"]</h2>

@await RenderSectionAsync("ErrorMessage")

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        @RenderBody()
    </dl>

    <form method="post">
        @await RenderSectionAsync("DeleteBinding")
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </div>
    </form>
</div>